/* General */

@font-face {
  font-family: Cursive;
  src: url(./fonts/cursive.rtf) format('rtf'),
    url(./fonts/cursive.ttf) format('ttf');
}

@font-face {
  font-family: Berlin;
  src: url(./fonts/berlin.ttf) format('ttf');
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Berlin, Arial, Helvetica, sans-serif;

}

button:hover {
  cursor: pointer;
  scale: 1.09;
  background-color: black;
  color: white;
  box-shadow: 5px 10px 14px #9a9a9a;
}

button:active {
  background-color: rgb(206, 206, 206);
}

a {
  color: rgb(25, 119, 25);
  text-decoration: none;
}

img {
  height: auto;
}

hr {
  width: 700px;
  margin: 60px 0px 40px;
}

.wrapper {
  position: relative;
  min-height: calc(100%-130px);
  padding-bottom: 130px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #9a9a9a;
  box-shadow: 0px 1px 15px #9a9a9a;
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 169px;
}

header > button {
  padding: 20px 30px;

  border: none;
  font-size: 20px;
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 101px;
  min-height: 100vh;
}

.main > p {
  width: 777px;
  text-align: center;
}

.logo {
  margin-top: 20px;
  width: 333px;
}

footer {
  position: absolute;
  width: 100%;
  height: 130;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.sources {
  word-spacing: 20px;
  line-height: 20px;
}



/* Home Page */

.pizza {
  margin:70px 0px 30px;
  width: 777px;
}

.blurb {
  font-family: Cursive, Arial, Helvetica, sans-serif;
  font-size: 27px;
  color: rgb(99, 98, 98);
  margin-bottom: -5px;
}

.description {
  margin-top: 60px;
  font-size: 20px;
  color: #474747;
  font-style: italic;
}

.hours {
 width: 300px;
 margin: 50px 0px 115px;
}

/* Menu Page */
.menu-image {
  width: 1333px;
  margin: 100px 0px 150px;
}

/* Contact Page */

.customer-support {
  width: 444px;
}

.contact-sub-titles {
  font-weight: bold;
  text-decoration: underline;
}

.phone-number {
  color: rgb(25, 119, 25);
  text-decoration: underline;
}

.phone-number:hover {
  cursor: pointer;
}

.staff-image {
  width: 800px;
  margin: 115px 0px 175px;
}